<!DOCTYPE html>
<html>
<head>
  <title>Edit Destination</title>
</head>
<body>
  <h1>Edit Destination</h1>
  <form method="POST" action="/destinations/{{destination._id}}?_method=PUT">
    <input type="text" name="name" value="{{destination.name}}" required><br>
    <input type="text" name="location" value="{{destination.location}}"><br>
    <textarea name="description">{{destination.description}}</textarea><br>
    <button type="submit">Update Destination</button>
  </form>

  <form method="POST" action="/destinations/{{destination._id}}?_method=DELETE">
    <button type="submit" style="color:red;">Delete Destination</button>
  </form>

  <p><a href="/destinations">Back to Destinations</a></p>
</body>
</html>
